.container {
    position: absolute;
    top: 0.6rem;
    right:0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
    width: 40px;
    height: 40px;
}

.background {
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-active);
    border: 10px solid var(--color-container);
    width: 100%;
    height: 100%;
}

.progress {
    position: absolute;
    border-radius: 50%;
    width: 140%;
    height: 140%;
    clip-path: circle(50% at 50% 50%);
}

.inner {
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-container);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-active);
    width: 90%;
    height: 90%;
}

.text {
    position: absolute;
    color: var(--color-active);
    font-size: 10px;
}
